<!-- views/posts/_post.html.erb /-->
<div class="media panel">
  <span class="<%= post.icon %> pull-left"></span>
  <div class="media-body">
    <% case post.ptype %>
    <% when FOLDER_TYPE %>
      <h4 class="media-heading">
        <%= link_to (" " + post.title), post %>
      </h4>
      <%= post.body %>
    <% when LINK_TYPE %>
      <h4 class="media-heading"><%= post.title %></h4>
      <%= link_to(" " + post.body, post.body, class: 'pull-left') %>
      <% if current_user && current_user == post.user %>
        <div class='pull-right'>
          <%= link_to 'edit', post, class: 'btn btn-default btn-sm' %>
          <%= link_to 'delete', post, method: :delete, data: {confirm: 'Are you sure you want to delete this link?'}, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove danger' %>
        </div>
      <% end %>
    <% when BLOG_TYPE %>
      <h4 class="media-heading">
        <%= link_to(" " + post.title, post) %>
      </h4>
    <% when TWEET_TYPE %>
      <h4 class="media-heading">
        <%= post.title %>
      </h4>
      <%= post.body %>
      <% if current_user && current_user == post.user %>
        <div class='pull-right'>
          <%= link_to 'edit', 'www.abc.com', class: 'btn btn-default btn-sm' %>
          <%= link_to 'delete', post, method: :delete, data: {confirm: "Are you sure you want to delete this note?"},class: 'btn btn-danger btn-xs glyphicon glyphicon-remove danger' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>