<div class="panel panel-default">
  <div class="panel-heading">
    <h1><span class="glyphicon glyphicon-pencil iconPadding"></span>   <small>Edit:</small> <%= @post.title %></h1>
  </div>
  <div class="panel-body">
    <%= render partial: 'post_form', locals: {post: @post, parent_id: @post.parent_id} %>
  </div>
</div>

<%= button_to @post, class: 'btn btn-default', method: :get do %>
  <span class="glyphicon glyphicon-arrow-left"></span> Back (without saving)
<% end %>

<br/><br/><br/><br/><br/>
<hr/>

<%= render partial: 'breadcrumbs', locals: {post: @parent_post} %>
<%= render partial: 'folder_show', locals: {post: @parent_post, children: @parent_post.children.order(:position), new_post: @post} %>