<div class="panel panel-default">
  <div class="panel-heading">
    <h1><span class="glyphicon glyphicon-plus iconPadding"></span>   <small>Add a new note in folder:</small> <%= @parent_title %></h1>
  </div>
  <div class="panel-body">
    <%= render partial: 'post_form', locals: {post: @post, parent_id: @parent_id} %>
  </div>
</div>

<a class="btn btn-default" href="<%= post_path(@parent_id)%>">
  <span class="glyphicon glyphicon-arrow-left"></span> Back (without saving)
</a>

<br/><br/><br/><br/><br/>
<hr/>
<%= render partial: 'breadcrumbs', locals: {post: @parent_post} %>
<%= render partial: 'folder_show', locals: {post: @parent_post, children: @parent_post.children.order(:position), new_post: @post} %>