<!-- views/posts/show.html.erb /-->

<% case @post.ptype %>
  <% when BLOG_TYPE %>
    <h1><%= @post.title %></h1>
    <%= @post.body %>
  <% when FOLDER_TYPE %>

    <h1> <%= @post.title %></h1>
    <h2> <%= @post.body %></h2>
    <%= render @children %>

    <p><%= link_to "New Post", new_post_path(:parent_id => @post.id) if (current_user && @post.user == current_user) %></p>

<% end %>

<% if current_user && current_user == @post.user %>
  <p><small>
    <%= link_to "Edit this post", edit_post_path(@post) %>
  </small></p>
<% end %>

<p><%= link_to "Back", @post.parent if @post.parent %></p>

<% if current_user && current_user == @post.user && current_user.root != @post %>
  <p><small>
    <%= link_to "Delete this post", @post, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}%>
  </small></p>
<% end %>