<!-- views/posts/show.html.erb /-->
<%= render partial: 'breadcrumbs', locals: {post: @post} %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1><span class="<%= PrivacyIcon(@post) %> iconPadding"></span><span class="<%= @post.icon %> iconPadding"></span><%= @post.title %></h1>

    <% if current_user && current_user == @post.user %>
      <button class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#editFolderModal">edit</button>  
      <div class="modal fade" id="editFolderModal" tabindex="-1" role="dialog" aria-labelledby="editFolderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="editModalLabel">Edit Folder</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "folder_form", locals: {post: @post, parent_id: @post.parent_id }%>
            </div>
          </div>
        </div>
      </div>
    <% end %>

   
    <% case @post.ptype %>
    <% when BLOG_TYPE %>
      </div>
      <div class="panel-body">
        <%= @post.body %>
    <% when FOLDER_TYPE %>
      <h3 class="small"> <%= @post.body %></h3>
      </div>
      <div class="panel-body">
      <%= render @children %>

      <p><%= link_to "+ New Note", new_post_path(:parent_id => @post.id), class: 'btn btn-success' if (current_user && @post.user == current_user) %></p>

      <% if current_user && @post.user == current_user %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#newFolderModal">+ New Folder</button>
        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true" >
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create a New Folder</h4>
              </div>
              <div class="modal-body">
                <%= render partial: "folder_form", locals: {post: @new_post, parent_id: @post.id} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
<p><%= link_to "Back", @post.parent, class: 'btn btn-default pull-left' if @post.parent %></p>

<% if current_user && current_user == @post.user && current_user.root != @post %>
  <small>
    <%= link_to "Delete this #{@post.ptype}", @post, method: :delete, data: {confirm: "Are you sure you want to delete \"#{@post.title}\""}, class: 'btn btn-danger pull-right' %>
  </small>
<% end %>