<!DOCTYPE html>
<html>
  <head>
    <title>FolderNotes</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'FolderFavicon.png' %>
  </head>
  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
      <div class="container">

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-header"><%= link_to "FolderNotes.com — Beta Version", root_path %></li>
            <li><p class="navbar-text">|</p></li>
            <!--<li><%= link_to "Newsfeed", posts_path, id: 'newsfeed_link' %></li><li><p class="navbar-text">|</p></li>/-->
            <li><%= link_to "About", welcome_about_path %></li><li><p class="navbar-text">|</p></li>
            <!--<li><%= link_to "Other Users", users_path %></li>/-->
            <li><%= link_to "Example", welcome_example_path %></li><li><p class="navbar-text">|</p></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
              <li class="active"><%= link_to "Hello, "+ current_user.email + "!", root_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
            <% else %>
              <li class=""><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
